<% include partials/header %>

<h1><%= campgroundData.name %></h1>
<img src="<%= campgroundData.image %>" alt="<%= campgroundData.name %>">
<p><%= campgroundData.description %></p>

<% campgroundData.comment.forEach(function(comment) { %>
  <p><%= comment.author %> - <%= comment.text %></p>
<% }); %>

<a href="/campground">Back to Campground</a>

<% include partials/footer %>