<% include ../partials/header %>
<% include ../partials/nav %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Yelp Camp</h4>
      <ul class="list-group">
        <li class="list-group-item">item</li>
        <li class="list-group-item">item</li>
        <li class="list-group-item">item</li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= campgroundData.image %>" alt="<%= campgroundData.name %>">
        <div class="caption">
          <h3 class="pull-right">
            £<%= campgroundData.price ? campgroundData.price.toFixed(2) : "-.--" %>/night
          </h3>
          <h3><a href="#"><%= campgroundData.name %></a></h3>
          <p><%= campgroundData.description %></p>
          <p><em>Added by <%= campgroundData.author.username %></em></p>
          <% if (user && campgroundData.author._id.equals(user._id)) { %>
            <a class="btn btn-xs btn-warning" href="/campground/<%= campgroundData._id %>/edit">Edit</a>
            <form class="button__delete" action="/campground/<%= campgroundData._id %>?_method=DELETE" method="POST">
              <button class="btn btn-xs btn-danger">Delete</button>
            </form>
          <% } %>
        </div>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" href="/campground/<%= campgroundData._id %>/comment/new">Add New Comment</a>
        </div>
        <hr>
        <% campgroundData.comment.forEach(function(comment) { %>
          <p><strong><%= comment.author.username %></strong></p>
          <p><em>12/02/17</em></p>
          <p><%= comment.text %></p>
          <% if (user && comment.author._id.equals(user._id)) { %>
            <a class="btn btn-xs btn-warning" href="/campground/<%= campgroundData._id %>/comment/<%= comment._id %>/edit">Edit</a>
            <form class="button__delete" action="/campground/<%= campgroundData._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
              <button class="btn btn-xs btn-danger">Delete</button>
            </form>
          <% } %>          
          <hr>
        <% }); %>
      </div>
    </div>
  </div>  
</div>

<% include ../partials/footer %>